@model Fina.Web.Models.DetailsVm;

@{
    ViewData["Title"] = Model.user.FirstName;
}

<br>

<div class="container simple-center-block">
    <div class="row">
        <div class="card-profile-stats col-lg-7">
            <div class="card-profile-stats-intro">
                <img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="profile-image" />
                <div class="card-profile-stats-intro-content">
                    <h3 class="">@Model.user.FirstName @Model.user.Name</h3>
                    <p class="text-center">Month: @DateTime.Now.ToString("MMMM") @DateTime.Now.ToString("yyyy")</p>
                </div>
            </div>

            <hr />

            <div class="card-profile-stats-container">
                <div class="card-profile-stats-statistic text-center">
                    <h4 class="text-capitalize">Income</h4>
                    <span class="stat">@Model.user.Positive</span>
                </div>
                <div class="card-profile-stats-statistic text-center">
                    <h4 class="text-capitalize">Expenses</h4>
                    <span class="stat">@Model.user.Negative</span>
                </div>
                <div class="card-profile-stats-statistic text-center">
                    <h4 class="text-capitalize">Remaining</h4>
                    <span class="stat">@Model.user.Total</span>
                </div>
            </div>

            <br />

            <div class="card-profile-stats-more">
                <div class="card-profile-stats-more-content">
                    <ul class="list-group">
                        <li class="list-group-item active">Personal Information</li>
                        <li class="list-group-item">@Model.user.FirstName @Model.user.Name</li>
                        <li class="list-group-item">Age: @Model.user.Age</li>
                        <li class="list-group-item">@Model.user.Country / @Model.user.Currency</li>
                        <li class="list-group-item">@Model.user.Email</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="card-profile-stats col-lg-4 text-center">
            <h3>Add</h3>
            <br />
            <div class="button-group-option">
                <a asp-controller="Expense" asp-action="Add" class="button alert expanded">Add Expense</a>
                <a asp-controller="Expense" asp-action="Index" class="button primary expanded">View Expenses</a>
                <hr />
                <a asp-controller="Incomes" asp-action="Add" class="button alert expanded">Add Income</a>
                <a asp-controller="Incomes" asp-action="Index" class="button primary expanded">View Incomes</a>
            </div>
            <hr />
            <div class="button-group-option">
                <a asp-controller="Savings" asp-action="Add" class="button warning expanded">Add Saving</a>
                <a asp-controller="Savings" asp-action="Index" class="button primary expanded">View Savings</a>
                <hr />
                <a asp-controller="Security" asp-action="Add" class="button warning expanded">Add Security</a>
                <a asp-controller="Security" asp-action="Index" class="button primary expanded">View Securities</a>
            </div>
            <hr />
            <a asp-controller="User" asp-action="Logout" class="button success expanded">Logout</a>

        </div>
    </div>

</div>