@model Fina.Web.Models.DetailsVm;

@{
    ViewData["Title"] = "Details";
}

<br />

<div class="container">
    <div class="row">
        <div class="card-profile-stats col-lg-6">
            <div class="card-profile-stats-intro">
                <img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="profile-image" />
                <div class="card-profile-stats-intro-content">
                    <h3 class="">@Model.user.FirstName @Model.user.Name</h3>
                    <p class="text-center"><a class="fas fa-crown"></a> Premium User <a class="fas fa-crown"></a></p>
                </div>
            </div>

            <hr />

            <div class="card-profile-stats-container">
                <div class="card-profile-stats-statistic">
                    <h4>Income:</h4>
                    <span class="stat">1258</span>
                </div>
                <div class="card-profile-stats-statistic">
                    <h4>Expenses:</h4>
                    <span class="stat">500</span>
                </div>
                <div class="card-profile-stats-statistic">
                    <h4>Remaining:</h4>
                    <span class="stat">5411</span>
                </div>
            </div>

            <div class="card-profile-stats-more">
                <p class="card-profile-stats-more-link"><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                <div class="card-profile-stats-more-content">
                    <ul class="list-group">
                        <li class="list-group-item active">Personal Information</li>
                        <li class="list-group-item">@Model.user.FirstName @Model.user.Name</li>
                        <li class="list-group-item">Age: @Model.user.Age</li>
                        <li class="list-group-item">@Model.user.Country / @Model.user.Currency</li>
                        <li class="list-group-item">@Model.user.Email</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-profile-stats col-lg-6 text-center">
            <h3>ADD DATA</h3>
            <div class="button-group-option">
                <a asp-controller="Expense" asp-action="Add" class="button success radius">Add Expense</a>
                <a asp-controller="Income" asp-action="Add" class="button primary radius">Add Income</a>
            </div>
        </div>
    </div>

</div>